* {
  box-sizing: border-box;
}

body {
  background: #ebebeb;
  font-family: sans-serif;
  padding: 2rem;
}

h1 {
  margin-left: -1rem;
}

label {
  display: block;
}

.product {
  margin: 1rem;
  padding: 1rem;
  background: rgb(252, 231, 231);
  border: 1px solid lightgrey;
  border-radius: 1rem;
  min-width: 200px;
  position: relative;
}

.product i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}

.product i.fa {
  color: palevioletred;
}

.menu {
  margin: 15px 0;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.menu a.active {
  color: palevioletred;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.product {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: white;
  width: 250px;
}

h1 {
  margin-left: 0px;
}

.search {
  border-radius: 8px;
  border: none;
  padding: 8px;
}
